<!DOCTYPE html>
<html>

<head>
    <title>配置后台</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    <script type="application/javascript">
        function addVieShow(){
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function addViewClose(){
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none';
        }
    </script>
</head>

<body>


<div class="head">
    <div class="search_head">
        <div class="search_div">
            AppId: <input id="appIdBtn">
        </div>
        <div class="search_div">
            Method: <input id="methodBtn">
        </div>
        <div class="search_div">
            状态:
            <select id="statusSelect">
                <option>启用</option>
                <option>禁用</option>
            </select>
        </div>
        <div class="search_div">
            <button id="searchBtn">搜索</button>
        </div>
    </div>
    <div class="add_head">
        <div>
            <button id="addBtn">新增</button>
        </div>
    </div>
</div>
<br>
<br>
<div class="div_body">
    <table>
        <tr>
            <th>ID</th>
            <th>AppId</th>
            <th>Method</th>
            <th>类型</th>
            <th>老接口请求类型</th>
            <th>老接口请求方式</th>
            <th>老接口url</th>
            <th>新接口请求类型</th>
            <th>新接口请求方式</th>
            <th>新接口url</th>
            <th>状态</th>
            <th>校验结果查询</th>
            <th>自定义代码</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>int-spring-cl-front-vehicle</td>
            <td>cl-front-vehicle.getAllProducts</td>
            <td>Head</td>
            <td>LB</td>
            <td>GET</td>
            <td>localhost:8080/vehicle/getAllProducts</td>
            <td>LB</td>
            <td>GET</td>
            <td>localhost:8080/vehicle/getAllProducts</td>
            <td>启用</td>
            <td>
                <div>
                    <button id="resultBtn">查看结果</button>
                </div>
            </td>
            <td>
                <div>
                    <button class="leftBtn" id="divParamBtn">参数</button>
                    <button class="rightBtn" id="divResultBtn">结果</button>
                </div>
            </td>
            <td>
                <div>
                    <button class="leftBtn" id="updateBtn">修改</button>
                    <button id="deleteBtn">删除</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>int-spring-cl-front-vehicle</td>
            <td>cl-front-vehicle.getAllProducts</td>
            <td>Head</td>
            <td>LB</td>
            <td>GET</td>
            <td>localhost:8080/vehicle/getAllProducts</td>
            <td>LB</td>
            <td>GET</td>
            <td>localhost:8080/vehicle/getAllProducts</td>
            <td>启用</td>
            <td>
                <div>
                    <button id="resultBtn">查看结果</button>
                </div>
            </td>
            <td>
                <div>
                    <button class="leftBtn" id="divParamBtn">参数</button>
                    <button id="divResultBtn">结果</button>
                </div>
            </td>
            <td>
                <div>
                    <button id="updateBtn">修改</button>
                    <button id="deleteBtn">删除</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<br>
<br>

<div class="page-icon">
    <span class="page-disabled"><i></i>上一页</span>
    <span class="page-current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a class="page-next" href="#">下一页<i></i></a>
</div>

</body>
</html>